@media screen and (min-width: 994px), (max-width: 994px), (max-height: 994px) {

    div#leftColumn {
        height: 100%;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #008C5A;
}

header {
    display: grid;
    grid-template-columns: auto 60px 80px;
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    z-index: 2;
    background-color: #008C5A;
}

h1 {
    color: white;
    margin-left: 10px;
}

#helpHeader, #aboutHeader {
    margin-top: 75px;
}

main {
    position: fixed;
    margin-top: -8px;
    margin-left: -8px;
}
#nav {
    position: fixed;
    margin-top: 64px;
    z-index: 1;
}
#leftColumn {
    position: fixed;
    margin-top: 85px;
    z-index: 1;
    background-color: white;
}

input {
    width: 56px;
    color: #008C5A;
}

#viewport {
    position: fixed;
    z-index: 0;
    margin-top: 1px;
}

h3 {
    margin-left: 10px;
    margin-top: 10px;
}

#leftColumn, #pointUI, #lineUI, #camUI, #paramUI, #settingsUI {
    border-style: solid;
    border-color: #008C5A;
}

span {
    color: #008C5A;
}

button {
    font-size: small;
    background-color: white;
}

button:hover {
    background-color: #acacac;
}

#deletePoint:hover, #deleteLine:hover {
    cursor: pointer;
    opacity: 80%;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

#pointNameFeedback, #lineFeedback {
    color: red;
    font-weight: bold;
    font-size: 0.9vw;
}