@media screen and (min-width: 994px), (max-width: 994px), (max-height: 994px) {
  div#leftColumn {
    height: 100%;
    width: 18%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: #6498b0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  color: #f8f9fa;
  overflow: hidden;
  /* padding: 20px 10px; */
}

.header h1 {
  font-size: 30px;
}

.header-left {
  float: left;
}

.header a {
  float: left;
  text-align: center;
  margin-top: 5px;
  padding: 20px;
  line-height: 25px;
  border-radius: 5px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

#nav {
  position: fixed;
  z-index: 1;
}

#leftColumn {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  margin-top: 30px;
  padding-bottom: 200px;
  z-index: 1;
  background-color: #f8f9fa;
  padding-left: 5px;
  border-radius: 5px;
}

#leftColumn p {
  margin-bottom: 15px;
  margin-top: 15px;
}

#leftColumn h3 {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

input {
  width: 65px;
}

#viewport {
  position: fixed;
  z-index: 0;
}

#camUI input {
  margin-bottom: 5px;
}

#camUI p {
  margin-top: 3%;
  margin-bottom: 3%;
}

#leftCamDistance {
  margin-top: 3%;
}

#rightCamDistance {
  margin-top: 3%;
}

button {
  background-color: #f8f9fa;
  border-radius: 5px;
}

button:hover {
  background-color: #acacac;
  cursor: pointer;
}

.featuredBtn.active {
  background-color: #6498b0;
  color: #f8f9fa;
}

#newPointName {
  margin-bottom: 0%;
}

#deletePoint:hover,
#deleteLine:hover {
  cursor: pointer;
  opacity: 70%;
}

#dropdownPoint, 
#dropdownLine, 
#dropdownLeftCam, 
#dropdownRightCam {
  position: absolute;
  left: 85%;
  width: 15px;
  height: 15px;
}

a:link,
a:visited,
a:active {
  color: #f8f9fa;
  text-decoration: none;
}

a:hover {
  color: black;
}

#pointNameFeedback,
#lineFeedback {
  color: red;
  font-weight: bold;
  font-size: 20px;
}


/*check01 - point*/
/*check02 - line*/
/*check03 - left camera*/
/*check04 - right camera*/

#check01CSS:hover,
#check02CSS:hover,
#check03CSS:hover, 
#check04CSS:hover {
  background-color: #ddd;
  opacity: 75%;
}

#check01CSS,
#check02CSS,
#check03CSS,
#check04CSS {
  margin-top: 2%;
  font-size: 125%;
  font-weight: bold;
  cursor: pointer;
}

/*hide the inputs/checkmarks and submenu*/
input.check01, ul.submenu,
input.check02, ul.submenu,
input.check03, ul.submenu,
input.check04, ul.submenu02  {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
}

/*show the submenu when input is checked*/
input.check01:checked ~ ul.submenu {
  display: block;
}

input.check02:checked ~ ul.submenu {
  display: block;
}

input.check03:checked ~ ul.submenu {
  display: block;
}

input.check04:checked ~ ul.submenu02 {
  display: block;
}

.submenu {
  margin-bottom: 0%;
}

#ausgabe {
  font-size: 125%;
  font-weight: bold;
}

#ausgabeLinkeCamera {
  font-size: 100%;
  font-weight: bold;
}

#ausgabeRechteCamera {
  font-size: 100%;
  font-weight: bold;
}

#strahlen {
  font-size: 125%;
  font-weight: bold;
}
